@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin-left: 2.313rem;
    font-size: 1rem;
    max-width: 100%;
}


@font-face {
    src: url(/fonts/ProximaNovaRegular.ttf);
    font-family: "Proxima Nova", serif;
}
.homePage{
    background-image: url(../assets/Header_Home_Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
}
a.nav-link{
    font-family: "Proxima Nova", serif;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link{
    color:#F7F7F7;
}
.headerBtn{
    text-decoration: none;
    background-color: #FF6200;
    border-radius: 0.75rem;
    border:none;
    padding: 0.625rem;
    margin-left: 0.313rem;
}

.headerBtn a{
    text-decoration: none;
    color: #F7F7F7;
    margin: 0;

}
#homePageContent{
    position: relative;
}
.contentContainer {
    position: absolute;
    max-width: 40%;
    max-height: 30%;
    padding-top: 10%;
    display: inline;
    padding-left: 5.5%;
}
.contentContainer h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    margin: 0;
    line-height: 4rem;
}
.darkHeader{
    display: inline;
    padding: 0;
    margin: 0;
}
.orangeHeaderText {
    color: #ff6200;
    display: inline;
    padding-left: 0.688rem;
    margin: 0.188rem;
}
.contentContainer h5 {
    padding-top: 3.125rem;
}
.contentContainer p {
    margin: 1rem 0 1rem 0;
}

.earnNowBtn {
    background-color: #FF6200;
    border-radius: 0.75rem;
    border: none;
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    color: #F7F7F7;
    margin: 0.625rem 0 0.625rem 0;
    box-shadow: 0.063rem 0.125rem 0.313rem #ff6200;
}
.moreInfoBtn{
    background-color: #F7F7F7;
    border: #FF6200 solid 0.063rem;
    border-radius: 0.75rem;
    padding:0.625rem 4.063rem 0.625rem  4.063rem;
    margin: 0.875rem;

}
.moneyHeader{
    position: relative;
    width: 90vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.moneyHeader h1{
    font-size: 10rem;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: #D8D8D8;
    opacity: 0.5;
}
.moneyHeader h2 {
    position: absolute;
    font-size: 3.4rem;
    font-weight: 400;
    z-index: 3;
    width: 105%;
    margin-top: 3.625rem;
    margin-right: 0.625rem;

}
.moneyHeader h2 img {
    position: absolute;
    padding-left: 100px;
}

#makeMoneyCarousel{
    max-width: 90vw;
}
.carousel{
    padding: 15% 10% 5%;
}
.topbrandsHeader{
    position: relative;
    width: 90vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.topbrandsHeader h1{
    font-size: 10rem;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: #D8D8D8;
    opacity: 0.5;
}
.topbrandsHeader h2 {
    position: absolute;
    font-size: 3.6rem;
    font-weight: 400;
    z-index: 3;
    width: 100%;
    margin: 2.813rem 0.625rem 0 0;

}
.navbar-dark .navbar-nav .nav-link {
    color: #F7F7F7;
}
@media screen and (max-width: 450px) {
    * {
        box-sizing: border-box;
        margin: 0;
        font-size: 1rem;
        max-width: 100%;
    }

    .navbar {
        margin: 0 1.25rem 0 1.25rem;
        padding: 0.625rem;
    }
    .homePage {
        background-image: url(../assets/Header_Home_Mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100vw;
        height: 100vh;
    }

    .contentContainer {
        position: absolute;
        max-height: 30%;
        max-width: 100%;
        padding-top: 100%;
        display: inline;
        padding-left: 5.5%;

    }

    .moneyHeader {
        padding-top: 35%;
        width: 100vw;
        text-align: center;
    }

    .moreInfoBtn {
        background-color: #F7F7F7;
        border: #FF6200 solid 0.063rem;
        border-radius: 0.75rem;
        padding: 0.625rem 2.063rem 0.625rem 2.063rem;
    }

    .moneyHeader h1 {
        font-size: 5rem;
        font-weight: 100;
        position: absolute;
        z-index: 1;
        width: 100%;
        color: #D8D8D8;
        opacity: 0.5;
    }

    .moneyHeader h2 {
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        z-index: 3;
        width: 105%;
        margin-top: 1.625rem;
        margin-right: 0.625rem;
    }

    #makeMoneyCarousel {
        max-width: 100vw;
        padding-top: 10%;
        margin: 10px 0px 10px 30px;
    }
    .topbrandsHeader{
        width: 100vw;
    }

    .topbrandsHeader h1 {
        font-size: 5rem;
        font-weight: 100;
        position: absolute;
        z-index: 1;
        width: 100%;
        color: #D8D8D8;
        opacity: 0.5;
    }

    .topbrandsHeader h2 {
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        z-index: 3;
        width: 100%;
        margin: 1.813rem 0.625rem 0 0;
    }
    .msgUsBtn {
        position: absolute;
        padding-left: 15%;
    }
}

