@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1rem;
}


@font-face {
    src: url(../fonts/ProximaNovaRegular.ttf);
    font-family: "Proxima Nova", serif;
}
.homePage{
    background-image: url(../assets/Header_Home_Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 100vh;
}
.navbar-light .navbar-nav .nav-link{
    color:#F7F7F7;
}
.navbar-custom .navbar-text {
    color: yellow;
}
li a{
    color: purple;
}
.headerBtn{
    text-decoration: none;
    background-color: #FF6200;
    border-radius: 12px;
    padding: 10px;
}

.headerBtn a{
    text-decoration: none;
    color: #F7F7F7;
}
#homePageContent{
    position: relative;
}
.contentContainer {
    position: absolute;
    max-width: 31%;
    max-height: 30%;
    padding-top: 10%;
}

.earnNowBtn {
    background-color: #FF6200;
    border-radius: 12px;
    border:none;
    padding: 10px 30px 10px 30px;
    color: #F7F7F7;
    margin: 10px 10px 10px 0px;
    box-shadow: 5px 10px #FF6200;
}
.moreInfoBtn{
    background-color: #F7F7F7;
    border: #FF6200 solid 1px;
    border-radius: 12px;
    padding:10px 65px 10px 65px;

}
.moneyHeader{
    position: relative;
    width: 90vw;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.moneyHeader h1{
    font-size: 10rem;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: #D8D8D8;
    opacity: 0.5;
}
.moneyHeader h2 {
    position: absolute;
    font-size: 5rem;
    font-weight: 400;
    z-index: 3;
    width: 100%;
    margin-top: 45px;
    margin-right: 10px;

}
.moneyHeader h2 img {
    padding-left: 10px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}
